<h3>Contacto</h3>   
  	
<% form_for (contacto, :url=> {:action=>'guardar'}) do |f|%>
  
	<div id="contactosPanel">	    	
	<ul>	
	  <br><br>
	 
	<tr>
	<td><li>Nombre:</li></td>
	<td><%= f.text_field :name, :size => 25%></td>          
	</tr>

	<tr>
	<td><li>Telefono:</li></td>
	<td><%= f.text_field :phone, :size => 25 %></td>
        </tr>   

	<tr>
	<td><li>Email:</li></td> 
	<td><%= f.text_field :email, :size => 25 %></td>
	<tr>
            
	<tr>
	<td><li>Empresa:</li></td>
	<td><%= f.text_field :company, :size => 25 %></td>
	</tr>

	<tr>
	<td><li>Mensaje:</li></td>
	<td><%= f.text_area :message , :cols =>"29", :rows =>"3" %></td>
	</tr>    
	
	<tr>
	<td></td><td align="center"><li><div id="botton"><%= f.submit "Enviar"%></div></td>	
	</tr>
		
		  
	</ul>
	</div>
<% end %> 

